@model sajjadmirzapour.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>جزئیات</h1>

<div style="direction:rtl">
    <h4>خبر</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsID" class="btn btn-warning">ویرایش</a>
    <a asp-action="Index" class="btn btn-primary">پنل مدیریت</a>
</div>
