@model IEnumerable<sajjadmirzapour.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">لیست اخبار</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-success text-center">افزودن خبر جدید</a>
</p>
<table class="table table-bordered table-hover " style="direction:rtl">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NewsDescription)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NewsImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reverse()) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NewsDescription)
            </td class="text-center">
            <td>
                <img src="~/Image/News/@(item.NewsImage)" class="img-thumbnail" style="height:200px;width:200px">
            </td>
            <td >
                <a asp-action="Edit" asp-route-id="@item.NewsID" class="btn btn-warning">ویرایش</a>
                <a asp-action="Details" asp-route-id="@item.NewsID" class="btn btn-primary">جزئیات</a>
                <a asp-action="Delete" asp-route-id="@item.NewsID" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
